*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'Arial', sans-serif;
}

.main{
    background-image: url(img/background_img.jpg);
    
}
.a-one{
    padding: 0% 5%;
    background-color: rgb(242, 242, 242);
   
}
#pnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff; /* White background for the navbar */
    position: relative; /* Needed for z-index to work */
    z-index: 2;
}

#pleft {
    display: flex;
    align-items: center;
}
#plogo {
    height: 70px;
    width: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

#linksp {
    display: flex;
    gap: 20px;
}
.plink {
    color: #141414;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s;
}

.plink:hover {
    color: #ed0b0b;
    text-decoration: underline;
}

#pright {
    display: flex;
    align-items: center;
}

#pmembership, #plogin {
    padding: 14px 30px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#pmembership {
    background-color: #f51111;
    color: #f7f3f3;
    margin-right: 10px;
    font-size: 19px;
}

#pmembership:hover,
#plogin:hover {
    background-color: #333;
    color: #fff;
}

.a-container-div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.a-container-text{
    font-weight: 400;
    text-align: center;
    padding: 2rem;
    font-size: 5vh;
}

.a-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.a-each-container{
    display: flex;
    flex-direction: column;
   width: 29.5vw;
   padding: 1vw;
   
}
.a-eachCard-img{
    overflow: hidden;
    height: 35vh;
    min-height: 30%;
    border-radius: 3%;
    
}
.a-eachCard-text{
    font-weight: 500;
    font-size: 3.3vh;
    
}
.a-container-span{
    font-size: 2vh;
    
    padding-right: 8vw;
}
.a-container-button{
    font-weight: 100;
    padding: 1.5vh 3.5vh;
    background-color: white;
    border: none;
    border-radius: 30%;
    font-size: 2vh;
   
}
.a-img-container{
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
   
}
.a-img-container-radius{
    width: 100%;
    border-radius: 3%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    
}
.a-couple-img{
    width: 50%;
   
}
.background-imgText-div{
    background: url(img/card_3_img.jpg);
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 1, 0.5);
    height: 100%;
    width: 50%;
    background-repeat: round;
    padding: 20vh 2vh 3vh 3vh;
    color: white;
    font-size: 3vh;
    
}
.a-img-button{
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    border: none;
    border-radius: 30%;
    font-size: 2vh;
    font-weight: 100;
    padding: 1.5vh 3.5vh;
    
}
.a-questions-section{
    display: flex;
    flex-direction: row;
    padding: 1.3rem;
    
}
.a-qsection{
    width: 45%;
    color: black;
    font-size: 5vh ;
    font-weight: 550;
    text-wrap: wrap;
    text-align: start;
    padding-top: 10vh;
    padding-left: 4vw;
    padding-bottom: 10vh;
    letter-spacing: 0.2vw;
    word-spacing: 1vw;
    
}
.a-list{
    width: 55%;
    font-size: 3vh;
    padding: 4vh;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
    
}
ul{
    list-style-image: url(img/plus_sign_img.png);
   
}
li{
    padding: 2vh;
   
}
.a-anymore-questions{
    display: flex;
    flex-direction: row;
    padding: 1.3rem;
    color: white;
   
}
.a-ask{
    width: 45%;
    color: black;
    color: white;
    font-size: 5vh ;
    font-weight: 550;
    text-wrap: wrap;
    text-align: start;
    padding-top: 10vh;
    padding-left: 4vw;
    padding-bottom: 10vh;
    letter-spacing: 0.2vw;
    word-spacing: 1vw;
    
}
.a-contact-section{
    display: flex;
    flex-direction: column;
    width: 55%;
    font-size: 2.5vh;
    padding: 10vh;
    padding-left: 5.5vh;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
    
}
.a-contact-details{
    display: flex;
    flex-direction: row;
    
}
.a-each-contact{
    padding: 2vw;
    
}

.footercontainer{
    margin: 3%;
}
.shbzfooter{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    background-color: #2a3348;

}
.shbzheading3{
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    padding-top: 3%;
    margin-bottom: 0%;
}
.shbzupperfooter{
    display: flex;
    /* border :2px solid green; */
    height: auto;
    padding: 5px;
    justify-content: space-between;
   
    margin-top: 0;
}
.fa-brands{
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    color: white;
}
#terms{
    border-color: #2a3348;
    margin-top: 22px;
}
#acceptterms{
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    font-weight: 40px;
    color: white;
}
#shbzmailid{
    background-color: #2a3348;
    border-color: white;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    font-size: large;
    color: white;
    width: 350px;
    height: 50px;
}
.shbzsubscribe{
    width: 200px;
    border-radius: 25px;
    height: 50px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}
.shbzsubscribe:hover{
    background-color: #f74d4d ;
    cursor: pointer;
    color: white;
}
/* mid footer */
.shbzmidfooter{
    display: flex;
    /* border :2px solid rgb(51, 29, 132); */
    height: auto;
    justify-content: space-between;
    /* margin: 3%; */
}
.shbzheading2{
color: white;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.allList{
    display: flex;
    flex-direction: column;

}
.allList>a{
    margin: 5px;
    text-decoration: none;
    color: white;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 13px;
font-weight: bolder;
}
.rest{
    display: flex;
    flex-direction: column;
}
.shbzheading4{
    color: white;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
#shbzlang{
    background-color: #2a3348;
    border-radius: 6px;
    border-color: white;
    width: 80%;
    height: 50px;
    color: white;
}
#shbzcurr{
    background-color: #2a3348;
    border-radius: 6px;
    border-color: white;
    width: 80%;
    height: 50px;
    color: white;
}
.shbzdownfooter{
    display: flex;
    justify-content: space-between;
}
.shbzheading5{
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}