.footercontainer{
    margin: 3%;
}
.shbzfooter{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    background-color: #2a3348;

}
.shbzheading3{
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    padding-top: 3%;
    margin-bottom: 0%;
}
.shbzupperfooter{
    display: flex;
    /* border :2px solid green; */
    height: auto;
    padding: 5px;
    justify-content: space-between;
   
    margin-top: 0;
}
.fa-brands{
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    color: white;
}
#terms{
    border-color: #2a3348;
    margin-top: 22px;
}
#acceptterms{
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    font-weight: 40px;
    color: white;
}
#shbzmailid{
    background-color: #2a3348;
    border-color: white;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    font-size: large;
    color: white;
    width: 350px;
    height: 50px;
}
.shbzsubscribe{
    width: 200px;
    border-radius: 25px;
    height: 50px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}
.shbzsubscribe:hover{
    background-color: #f74d4d ;
    cursor: pointer;
    color: white;
}
/* mid footer */
.shbzmidfooter{
    display: flex;
    /* border :2px solid rgb(51, 29, 132); */
    height: auto;
    justify-content: space-between;
    /* margin: 3%; */
}
.shbzheading2{
color: white;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.allList{
    display: flex;
    flex-direction: column;

}
.allList>a{
    margin: 5px;
    text-decoration: none;
    color: white;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 13px;
font-weight: bolder;
}
.rest{
    display: flex;
    flex-direction: column;
}
.shbzheading4{
    color: white;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
#shbzlang{
    background-color: #2a3348;
    border-radius: 6px;
    border-color: white;
    width: 80%;
    height: 50px;
    color: white;
}
#shbzcurr{
    background-color: #2a3348;
    border-radius: 6px;
    border-color: white;
    width: 80%;
    height: 50px;
    color: white;
}
.shbzdownfooter{
    display: flex;
    justify-content: space-between;
}
.shbzheading5{
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 768px) {
.shbzupperfooter{
    display: flex;
    flex-direction: column;
    width: auto;
}
.shbzmidfooter{
    display: flex;
    /* gap: 5px; */
    justify-content: space-evenly;
}
.shbzfooter{
width: fit-content;
padding: 15px;
}

.shbzsubscribe{
    width: 25vw;
}
#shbzmailid{
    width: 70vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
}